@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 262.1 83.3% 57.8%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 262.1 83.3% 57.8%;
    --accent-foreground: 210 40% 98%;
    --border: 214.7 96.9% 92.2%;
    --input: 214.7 96.9% 92.2%;
    --ring: 262.1 83.3% 57.8%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 6%;
    --card-foreground: 213 31% 91%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 262.1 83.3% 57.8%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 20% 12%;
    --muted-foreground: 215 20% 70%;
    --accent: 262.1 83.3% 57.8%;
    --accent-foreground: 210 40% 98%;
    --border: 215 20% 15%;
    --input: 215 20% 15%;
    --ring: 262.1 83.3% 57.8%;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-feature-settings: "cv01" "cv02" "cv03" "cv04" "cv05" "cv06" "cv07" "cv08" "cv09" "cv10" "cv11" "cv12";
}